body{
    background-color: aqua;

}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;

}
li{
    float: left;

}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;

}
li:hover{
    background-color: cadetblue;
}
.active{
    background-color: rgb(100, 146, 55);
}
.content{
    margin-top: 65px;
}