body{
    background-color: greenyellow;
}
.caja{
    margin: 8px;
    padding: 8px; 
    background-color: tan;
    border-style: solid;
    border-color: teal;
    border-width: 8px;
    border-left: 6px solid green;
    border-radius: 6px;
    height: 100px;
    width: 100px;
    color: #cc492893;
}